<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1>PENGUMUMAN HASIL SELEKSI PANITIA P2K FAST 2023</h1>
  </div>
  <div class="container">
    <form onsubmit="getData(event)">
      <h2>Masukan NIM</h2>
      <div class="mb-3">
        <label for="nim" class="form-label">NIM</label>
        <input type="number" class="form-control" id="nim" aria-describedby="emailHelp" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="resultContainer">
          <!-- Data will be rendered here -->
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Created by Egg. © 2023</p>
  </div>

  <!-- Add Bootstrap JavaScript and jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    async function getData(event) {
      event.preventDefault();

      const nim = document.getElementById('nim').value;

      try {
        const response = await fetch(`/api/data/${nim}`);
        const data = await response.json();
        console.log(data);
        if (data.error === 'Data not found') {
          const resultContainer = document.getElementById('resultContainer');
          resultContainer.innerHTML = `
            <div class="alert alert-danger" role="alert">
              Data yang anda masukan tidak valid!
            </div>
          `;
        } else {
          const cardTitle = data.status === 'lolos' ? 'Selamat Anda Lolos dan Tidak Libur' : 'Silahkan Coba Lagi';

          // Render the data in the table
          const resultContainer = document.getElementById('resultContainer');
          resultContainer.innerHTML = `
            <div class="card text-center">
              <div class="card-header">
                Pengumuman
              </div>
              <div class="card-body">
                <h3 class="card-title fw-bold">${cardTitle}</h3>
                <div class="container d-flex justify-content-center">
                  <table class="table text-start">
                    <tbody style="border: white;">
                      <tr>
                        <td>NIM</td>
                        <td>:</td>
                        <td>${data.nim}</td>
                      </tr>
                      <tr>
                        <td>Nama</td>
                        <td>:</td>
                        <td>${data.nama}</td>
                      </tr>
                      <tr>
                        <td>Divisi</td>
                        <td>:</td>
                        <td>${data.divisi}</td>
                      </tr>
                      <tr>
                        <td>Status</td>
                        <td>:</td>
                        <td>${data.status}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          `;
        }

        // Show the Bootstrap modal
        const modal = new bootstrap.Modal(document.getElementById('resultModal'));
        modal.show();

      } catch (error) {
        console.error('Error fetching data:', error);
        // Handle the error response
      }
    }
  </script>


</body>

</html>